[submodule "littlefs/module"]
	path = littlefs/module
	url = https://github.com/littlefs-project/littlefs.git
[submodule "stdinit-lib"]
	path = stdinit-lib
	url = https://github.com/lurk101/stdinit-lib.git
