[submodule "littlefs/module"]
	path = littlefs/module
	url = https://github.com/littlefs-project/littlefs.git
[submodule "disassembler/module"]
	path = disassembler/module
	url = https://github.com/compuphase/ARM-disassembler.git
